<div class="container text-center">
  <div class="row">
    <div class="col col-sm-1">
    </div>
    <div class="col col-sm-10">
        <h1>El aroma mágico</h1>
        <div class="line"></div>
        <img src="../../assets/imagenes/imagen1.jpeg" class="img-fluid" alt="Responsive image" alt="logo">
        <div class="line"></div>
      
      <div class="container-fluid">
        <div class="row">
          <div class="col">
          <table class="table">
            <thead class="table table-sm table-dark">
              <tr>
                <th class="text-start" scope="col">#</th>
                <th class="text-start" scope="col">Nombre</th>
                <th class="text-start" scope="col">Tipo</th>
                <th class="text-start" scope="col">Region</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cafe of cafes">
                <td class="text-start"><dd><figcaption>{{cafe.id}}</figcaption></dd></td>
                <td class="text-start"><dd><figcaption>{{cafe.nombre}}</figcaption></dd></td>
                <td class="text-start"><dd><figcaption>{{cafe.tipo}}</figcaption></dd></td>
                <td class="text-start"><dd><figcaption>{{cafe.region}}</figcaption></dd></td>
            </tr>
            </tbody>
          </table>
        </div>
        <p>Total cafe blend: {{countCafesByTipo('Blend')}}</p>
        <p>Total cafe Café de Origen: {{countCafesByTipo('Café de Origen')}}</p>
        </div>
      </div>
    </div>
    <div class="col col-sm-1">
    </div>
  </div>
</div>


